.sidebar-container {
	display: flex;
	/* min-width: 250px; */
	width: 250px;
	/* background-color: red; */
	background-color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	/* border-right: 5px solid blue; */
	border-right: 5px solid #f1f1f1;
}

.sidebar-wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.menu-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	height: 50px;
	width: 100%;
	transition: 0.2s all ease-in-out;
	border-left: none;
	color: "#b2b2b2";
	/* color: red; */
}

.menu-item:hover {
	cursor: pointer;
}

.menu-item-active {
	color: blue;
}

.body-container {
	margin-left: 250px;
	margin-top: 0;
	background-color: #f8fafc;
	min-height: 95vh;
	max-width: 960px;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

/* Table */
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid purple;
}

thead th:nth-child(1) {
	width: 15%;
}

thead th:nth-child(2) {
	width: 20%;
}

thead th:nth-child(3) {
	width: 5%;
}

thead th:nth-child(4) {
	width: 5%;
}

th,
td {
	padding: 20px;
}
